.preCheck{
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preCheck .box{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
    /* border: solid 2px rgb(128, 64, 255); */
}
.preCheck .box .title{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px black;
}
.preCheck .box .title p{
    font-size: 20px;
    font-weight: 600;
}
.preCheck .box .body{
    width: 100%;
    height: calc(100% - 42px);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.preCheck .box .body>div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(81, 81, 81);
    background-color: rgb(239, 239, 239);
}
.preCheck .box .body .left{
    width: 50%;
    font-size: 17px;
    margin-left: 20px;
    
}
.preCheck .box .body .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.preCheck .box .body .right .green{
    font-size: 25px;
    color: green;
}
.preCheck .box .body .right .red{
    font-size: 22px;
    color: red;
}
.preCheck .box .body .msg{
    color: green;
    border-bottom: 0px;
}



@keyframes loading{
    0%{rotate: 0deg;}
    100%{rotate: 360deg;}
}
.preCheck .loading .icon{
    animation: loading 1s linear infinite;
    font-size: 22px;
}