*{
    border: 0;
    padding: 0;
    margin: 0;
}


body{
    height: 100vh;
    width: 100vw;
    background-color: white;
    font-family: sans-serif;
}

:root{
    --primary-dark: rgb(111, 54, 255);
    --primary-light: rgb(172, 139, 255);
    --background-dark: rgb(230, 230, 230);
    --background-light: rgb(255, 255, 255);
}
 /* :root{
    --primary-dark: rgb(111, 54, 255);
    --primary-light: rgb(172, 139, 255);
    --background-dark: rgb(26, 26, 26);
    --background-light: rgb(54, 54, 54);
} */

#root{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.popup{
    position: absolute;
    top: 20px;
    right: -650px;
    width: 600px;   
    height: 75px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.popup .warp{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.popup .left{
    width: calc(100% - 55px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.popup .right{
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup .right .icon{
    rotate: 45deg;
    font-size: 30px;
}
.popup .right .icon:hover{
    cursor: pointer;
    transition: 100ms;
    scale: 0.9;
}
.popup .right .icon:active{
    scale: 0.8;
}
.popup .timer{
    position: absolute;
    width: 100%;
    height: 5px;
    /* background-color: black; */
    bottom: 0px;
    left: 0px;
    animation: popupTimer 10s ease-out 1  ;
}
@keyframes popupTimer{
    0%{width: 0%;};
    100%{width: 100%;}
}
.popinAni{
    animation: popin 10s ease-in-out 1;
}
@keyframes popin{
    0%{right: -650px;}
    5%{right: 20px;}
    90%{right: 20px;}
    100%{right: -650px;}
}